/*Changing the background color*/
body {
	background: yellow;
}

/*Formatting the burger img*/
#burger-img {
	max-width: 200px;
	margin-top: 20px;
}


/*Applying Google fonts*/
#burger-header {
	font-family: 'Shrikhand', cursive;
	font-size: 60px;
}

.burger-text {
	font-family: 'Shrikhand', cursive;
}

.burger-btn {
	font-family: 'Shrikhand', cursive;
	margin-bottom: 15px;
}


/*gre out devoured burgers*/
#devoured-text {
	color: #98978b;
	background-color: #f8f5f0
}


/*Formatting the divs holding burger lists*/
.uneaten, .eaten {
	max-height: 300px;
	overflow-y:auto;
}