/*Changing the background color*/
body {
	background: yellow;
}

/*Burger icon*/
#burger-img {
	max-width: 200px;
	margin-top: 20px;
}


/*Applying Google fonts*/
#burger-header {
	font-family: 'Shrikhand', cursive;
	font-size: 60px;
}

.burger-text {
	font-family: 'Shrikhand', cursive;
	

}

.burger-btn {
	font-family: 'Shrikhand', cursive;
	margin-bottom: 15px;
}
 .burger-entries {
	border-style: solid;
    border-width: 3px;
    border-color: blue;
    border-radius: 5px;
 }

/*style the devoured ones differently*/
#devoured {
	color: #98978b;
	/*background-color: #f8f5f0;*/
	background-color: rgb(250, 215, 215);
	border-style: solid;
    border-width: 3px;
    border-color: red;
    border-radius: 5px;
}



/*Formatting the divs holding burger lists*/
.uneaten, .eaten {
	max-height: 300px;
	overflow-y:auto;
}